@import 'variables';
@import 'reset';
@import 'mixin';


h1 {
  font-size: 700;
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 400;
  font-size: 18px;
  line-height: 22px;
}

.btn {
  height: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 1px solid $dark-blue;
}

input{
    outline-style: none ;
    border: none; 
    background-color: $light-blue;
    border-radius: 5px;
    height: 55px;
    padding: 19px 11px;
    font-size: 14px;
    margin-bottom: 12px;
    width: 100%;
}
input[type="checkbox"] {
      -webkit-appearance: none;
      border-radius: 5px;
      position: relative;
      border: 1px solid $light-gray;
      height: 16px;
      width: 16px;
      background-color: $light-gray;
      padding: 8px;
      margin: 0px;
      &:checked {
        background-color: $white;
        border: 1px solid $black;
        &::after {
          content: "";
          background: url('~@/assets/img/check.svg') no-repeat;
          position: absolute;
          width: 18px;
          height: 16px;
          top: -5px;
          left: 3px;
          font-size: 12px;
          color: $dark-blue;
        }
      }
      ~ label {
        display: inline-block;
        font-weight: normal;
        margin: 0px 0px 0px 12px;
      }
    }

a {
  color: $dark-blue;
  font-weight: 700;
}
body {
  height: calc(100vh);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Interstate", "LiGothic", "FangSong", Arial, serif;
  @include phone {
    display: block;
    background-color: $white;
  }
}

.card-form {
  height: 680px;
  width: 610px;
  border-radius: 20px;
  background-color: $white;
  @extend %standard-boxshadow;
  // border: 1px solid #000;
  @include phone {
    width: 100%;
  }
  .back {
    padding: 30px;
  }
  .main-content{
    padding: 0px 105px 36px 105px;
    @include phone {
      padding: 0px 22px 36px 22px;
  }
  }
  .sing-up-method{
    font-size: 13px;
    display: flex;
    .btn{
     width: 48%;
      display: flex;
      align-items: center;
      margin: 20px 0px 0px 0px;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        color: $black;
      }
      &:hover{
        @include color($white, $dark-blue);
        @extend %button-boxshadow;
        .icon {
          @include color($white, $dark-blue)
        }
        a {
          color: $white;
        }
    }
    }
    .icon {
      color:$dark-blue;
      margin-right: 15px;
    }
  }
  .divider {
    display: flex;
    align-items: center;
    margin: 28px 0px;
    p {
      font-size: 14px;
      font-weight: 400;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .line {
      height: 1px;
      flex-grow: 1;
      flex-shrink: 1;
      background-color: $black;
      margin-left: 3px;
    }
  }
  .name{
    display: flex;
    width: 100%;
  }
  .lastName,.firstName,.email {
    position: relative;
    width: 100%;
  }
  .lastName {
    margin-left: 10px;
  }

  .edit span.placeholder{
    display: none;
  }
  .edit span.title-s{
    display: inline-block;
  }
  .edit input{
    padding: 27px 11px 11px 11px;
  }
  .password.edit input{
    padding: 20px 11px 11px 11px;
  }
  span.placeholder{
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 11px;
      z-index: 100;
      font-size: 14px;
      color: $dark-gray;
    }
  span.title-s{
    display: none;
    z-index: 99;
    position: absolute;
    left: 11px;
    top: 10px;
    font-size: 10px;
    color: $dark-gray;
  }
  .password {
    position: relative;
    margin: 0;
    img {
      position: absolute;
      right: 10px;
      top: 24px;
      width: 19px;
      height: 12px;
    }
    .show-password{
      position: absolute;
      left: 11px;
      top: 36px;
      font-size: 10px;
    }
  }
  .policy-check {
    font-size: 13px;
    color: $dark-gray;
    margin-top: 15px;
    margin-bottom: 23px;
  }
  .alert {
    p {
      font-size: 10px;
      font-weight: 400;
      margin-left: 4px;
    }
    .alert-icon {
      color: $green;
    }
  }
  .submit {
    width: 100%;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    &:hover {
      @extend %button-boxshadow; 
    }
  }
  .login {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: $dark-gray;
    margin-top: 12px;
  }
}
